*{
    box-sizing: border-box;
}
img{
    width: 100%;
}
.page1{
    background: url(https://mannyy91s.github.io/portfolio/images/desk2-1920.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    h1{
    font-family: AmericanTypewriter;
    font-size: 90px;
    color: white;
    }
    h2{
        font-family: AmericanTypewriter;
        color: white;
    }
    img{
        margin-top: 200px;
        opacity: 0.89;
        border-radius: 100%;
        max-width: 300px;
        max-height: 300px;
    }
}
.page1-contact{
    ul{
        list-style: none;
        display: inline-block;
        padding-right: 55px;
        li{
            font-size: 40px;
            margin: 10px;
            display: inline-block;
            a{
                color: #244345;
                &:hover{
                color: #40333A;
                }
            }
        }
    }
}
.resume-button{
    background: #244345;
    color: white;
    font-family: AmericanTypewriter;
    &:hover{
        background: #E1DDC6;
        color: #244345;
    }
}
.page2{
    height: 100%;
    background: #E1DDC6;
    color: #244345;
    h1{
        font-size: 90px;
        font-family: AmericanTypewriter;
    }
    ul{
        display: inline-block;
        list-style: none;
        padding: 10px;
        li{
            display: inline-block;
            margin: 10px;
            padding: 10px;
            i{
                font-size: 120px;
            }
        }
    }
}
.page3{
    background: #244345;
    height: 100%;
    padding: 20px;
    h1{
        color: #E1DDC6;
        font-family: AmericanTypewriter;
        font-size: 90px;
    }
    img{
        padding: 5px;
        width: 100%;
        height: 500px;
    }
}
.page4{
    background: #E1DDC6;
    h2{
        font-family: AmericanTypewriter;
        color: #244345;
    }
    ul{
        list-style: none;
        padding-right: 55px;
        li{
            font-size: 20px;
            margin: 10px;
            a{
                color: #244345;
                &:hover{
                color: #40333A;
                }
            }
        }
    }
}
@media (max-width: 768px){
    .page1{
        h1{
            font-size: 60px;
        }
    }
    .page3{
        img{
            height: auto;
        }
    }
}
