* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.page1 {
  background: url(../images/desk2-1920.jpeg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page1 h1 {
  font-family: AmericanTypewriter;
  font-size: 120px;
  color: #FFFFFF;
}

.page1 img {
  margin-top: 250px;
  opacity: 0.89;
  border-radius: 100%;
  max-width: 400px;
  max-height: 400px;
}

.nav {
  text-align: center;
  width: 100%;
  background: #E1DDC6;
  opacity: .7;
  position: fixed;
  z-index: 10;
}

.nav ul {
  display: inline-block;
}

.nav ul li {
  font-family: AmericanTypewriter;
  color: #40333A;
  display: inline-block;
  list-style: none;
  font-size: 50px;
  letter-spacing: 2px;
  padding-right: 20px;
}

.nav ul li:hover {
  background: seagreen;
  cursor: pointer;
}

.page2 {
  height: 100%;
}

.page2 ul {
  display: inline-block;
  list-style: none;
  padding: 10px;
}

.page2 ul li {
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: 10px;
  padding: 10px;
}

.page3 {
  background: url(../images/mapping.jpg);
  height: 60vw;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
}

.page3 h1 {
  color: white;
}

.page3 img {
  height: 300px;
  width: 400px;
}
